nav {
  margin-top: 20px;
}
.pagination {
  display: flex;
  flex-wrap: wrap;
  list-style: none;

  row-gap: 20px;
  padding: 0;
}

.pagination li {
  margin: 0 5px;
}

.pagination li a {
  padding: 8px 12px;
  border: 1px solid #ddd;
  background-color: #f0f0f0;
  color: #007bff;
  cursor: pointer;
  text-decoration: none;
}

.pagination li.active a {
  background-color: #007bff;
  color: white;
}

.pagination li.disabled a {
  color: #ccc;
  pointer-events: none;
}

.pagination li a:hover {
  background-color: #007bff;
  color: white;
}
