.list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  list-style: none;
  padding: 0;
}

.card {
  flex-basis: calc((100% - 90px) / 4);
  /* border: 1px solid tomato; */
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1), 0 0 40px 0 rgba(0, 0, 0, 0.1),
    0 0 60px 0 rgba(0, 0, 0, 0.1);
}

.cardTitle {
  font-size: 18px;
}

.cardDescription {
  font-size: 14px;
}
