.section {
  padding: 20px;
}

.sortOptions {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.sortButton {
  background-color: #fff;
  padding: 6px 8px;
  border: 1px solid #030303;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
  transition: background-color 250ms linear color 250ms linear;
}

.sortButton:hover {
  background-color: #007bff;
  color: #fff;
}
.sortButton:active {
  background-color: #0056b3;
  color: #fff;
}

.list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  list-style: none;
  padding: 0;
}

.card {
  flex-basis: calc((100% - 90px) / 4);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1), 0 0 40px 0 rgba(0, 0, 0, 0.1),
    0 0 60px 0 rgba(0, 0, 0, 0.1);
}

.cardTitle {
  font-size: 18px;
}

.cardDescription {
  margin-top: 20px;
  font-size: 14px;
}

.cardOrganizer,
.cardDate {
  font-size: 14px;
  color: #555;
  margin-top: 10px;
}

.listLinks {
  margin-top: 20px;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.linkItem {
  font-size: 16px;
}

.link {
  font-family: inherit;
  font-weight: 500;
}

.link:hover {
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
  .card {
    flex-basis: calc((100% - 60px) / 3);
  }
}

@media screen and (max-width: 497px) {
  .card {
    flex-basis: calc((100% - 30px) / 2);
  }
}

@media screen and (max-width: 375px) {
  .card {
    flex-basis: 100%;
  }
}
